extends layout

block content
    h1= "Edit Task"
    dive.newtodo
         form( method="post")
             input(Description="_id", type="hidden", value=todo._id.toHexString())
             div
                   div
                       span.label Title:
                       input(type="text", name="title", id="editTodoTitle", value=[title])
                   div
                       span.label Description:
                       input(type="text", name="Description", id="EditTodoDescription", value=[todo.name])
                   div#editTodoSubmit
                       input(type="submit", value="Update")
         a(href="/")!= "Back to Todo List"
